.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ffa200;
    border-bottom: 1px solid #7115c6;
}

/** This is where the picture LIVES //**/
.post-header-left{
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.post-header-info-name{
  font-size: 1rem;
  font-weight: bold;
  color: #ff0000;
}

.post-content{
  padding: 15px;
  font-family: 'Open Sans';
  line-height: 1.6;
  color: #03a600
}
